#main {
  background-image: url("https://cdn.hipwallpaper.com/m/0/32/x2SVvh.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3%;
}

#footer {
  margin-top: 20%;
  text-align: center;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.login__button {
  max-width: 80px;
}
#focus {
  margin-top: 40px;
  padding : 0 8%;
}

#info {
  /* margin-top: 20%; */
  padding: 0 8%;
}

#videoPlayer {
  justify-content: center;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%; */
}

#videoContainer {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-top: 40px;
  /* position: relative;
  padding-top: 56.25%  */
}