#main {
  background-image: url("https://cdn.hipwallpaper.com/m/0/32/x2SVvh.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3%;
}

#footer {
  margin-top: 20%;
  text-align: center;
}

#focus {
  margin-top: 20%;
}

#info {
  margin-top: 20%;
  padding: 0 10%;
}

#logo {
  margin-left: 2rem;
  height: 100px;
  width: 100px;
}

#login {
  color: black;
  font-size: 25px;
  margin-right: 10%;
  margin-top: 2%;
}

#videoPlayer {
  justify-content: center;
  margin-top: 20%;
}

#videoContainer {
  display: flex;
  justify-content: center;
  margin-left: 0;
}
